{% if post %}
  {% if post.noprintable %}
    {% assign display = false %}
  {% else %}
    {% assign display = true %}
  {% endif %}
{% else %}
  {% if page.noprintable %}
    {% assign display = false %}
  {% else %}
    {% assign display = true %}
  {% endif %}
{% endif %}

{% if display %}
<span class="printable">

{% if post %}
  {% capture url %}assets/printables/{{ post.url | url2filename }}.pdf{% endcapture %}
{% else %}
  {% capture url %}assets/printables/{{ page.id | url2filename }}.pdf{% endcapture %}
{% endif %}

{% if url %}
  <a href="{{ root_url }}/{{ url }}"> <i class="fa fa-print"></i> </a>
{% endif %}

</span>
{% endif %}
